@media screen and (min-width: 1024px) {
    @keyframes zoomOut {
        to {
            transform: scale(1.2, 1.1);
            margin: 10px;
        }
        
    }

    @keyframes zoomIn {
        to {
            transform: scale(1);
        }
    }
}   
